<html>
    <head>
        <title>Welcome to Django Template
        </title>
    </head>
    <body>
        <h1>
            Welcome To The Text Analyzer
        </h1>
        <h3>
            Enter Your Text Here!
        </h3>
        <form action="/removepunc" method="GET">
            <textarea style= "margin: 0px;width: 1080px;height: 155px;"> </textarea> </br>
        </br>
            <button type="submit"> Analyze Here
            
            </button>
        </form>
    </body>
</html>