<html>
    <head>
        <title>Welcome to Django Template
        </title>
    </head>
    <body>
        <h1>
            Welcome To The Text Analyzer
        </h1>
        <h3>
            Enter Your Text Here!
        </h3>
        <form action="/removepunc" method="get">
            <!-- 'name' identifies the textarea -->
            <!-- name helps us to access the data entered in textarea using removepunc fucntion -->
            <!-- if we dont give any value as input then default value will be printed .-->
            <textarea name='text' style= "margin: 0px;width: 1080px;height: 155px;"> </textarea> </br>
        </br>
        <!-- add a submit button and name it.-->
        <input type="checkbox" name="removepunc" >Remove Punctuations </br>
            <button type="submit"> Analyze Here
            
            </button>
        </form>
    </body>
</html>